
html {
    font-family: Myriad Pro;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

    h1 {
        font-size: 1.875em;
        margin: 0.67em 0;
    }

    #overlay {
        opacity: .5;
    }

    #overlay-content {
        height: 18.75em;
        width: 32em;
        top: 15%;
        left: 150%;
    }

    #overlay-content.center {
        -moz-transition: left 2s ease-in;
        -o-transition: left 2s ease-in;
        -webkit-transition: left 2s ease-in;
        transition: left 2s ease-in;
        left: 0;
    }

        #overlay-content p {
            margin: 1.25em;
        }

    #container {
        width: 86.9140625%;
        height: 64em;
        margin: 0 6.54296875%;
    }

        #container > div {
            margin: 0.48828125%;
        }

        #orange {
            background-color: #f47a00;
            height: 9.84375vw;
        }

        #red {
            background-color: #fc3a1b;
            width: 14.04494382022472%;
            height: 12.20703125vw;
        }

        #container > div#blue {
            margin: 0.18828125%;
            background-color: #04b6f0;
            margin-top: 1.26953125%;
            width: 69.55056179775281%;
            height: 11.42578125vw;
        }

        #black {
            background-color: #000;
            width: 14.04494382022472%;
            height: 12.20703125vw;
        }

        #container > div#green {
            background-color: #10ad00;
            width: 92.13483146067416%;
            margin-left: 3.93258426966292%;
            height: 12.20703125vw;
        }

        #gold {
            background-color: #eddf02;
            width: 100%;
            height: 9.84375vw;
        }

        #grey {
            background-color: #828282;
            width: 19.66292134831461%;
            height: 12.20703125vw;
        }

        #maroon {
            background-color: #e1039a;
            width: 54.26966292134831%;
            height: 12.20703125vw;
        }

        #container > div#purple {
            background-color: #630bbd;
            width: 14.04494382022472%;
            height: 38.57421875vw;
            margin-top: -36.62109375vw;
        }

/* OOCSS */
.borderBox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.noOverflow {
    overflow: hidden;
}

.bgWhite {
    background-color: #fff;
}

.bgBlack {
    background-color: #000;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.textCenter {
    text-align: center;
}

.top0 {
    top: 0;
}

.left0 {
    left: 0;
}

.right0 {
    right: 0;
}

.bottom0 {
    bottom: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.noMarLeft {
    margin-left: 0;
}

.noMarRight {
    margin-right: 0;
}

.blkBorder {
    border: .0625em solid #000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* Media Queries Adjustments */
@media screen and (min-width: 32em) {
    #overlay-content {
        left: 150%;
        margin-left: -256px;
    }

    #overlay-content.center {
        left: 50%;
        -moz-transition: left 2s ease-in;
        -o-transition: left 2s ease-in;
        -webkit-transition: left 2s ease-in;
        transition: left 2s ease-in;
    }
}