* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Myriad Pro; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}


article,
header,
section {
    display: block;
}

h1 {
    font-size: 1.875em;
    text-align: center;
    margin: 0.67em 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: block;
}

.isHidden {
    display: none;
}

div.wrapper {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: .5;
}

.overlay-content {
    height: 300px;
    width: 512px;
    background: white;
    z-index: 3;
    position: fixed;
    top: 25%;
    left: 150%;
}

    section.overlay-content.center {
        left: 0;
        -moz-transition: left 2s ease-in;
        -o-transition: left 2s ease-in;
        -webkit-transition: left 2s ease-in;
        transition: left 2s ease-in;
    }

    .overlay-content p {
        margin: 20px;
    }

.container {
    width: 86.9140625%;
    height: 1024px;
    margin: 0 6.54296875%;
    position: relative;
    clear: both;
    z-index: -1;
}

    .container > div {
        float: left;
        margin: 0.48828125%;
    }

div.noMarLeft {
    margin-left: 0;
}

div.noMarRight {
    margin-right: 0;
}

div.blkBorder {
    border: 1px solid #000;
}

div.right {
    float: right;
}

div.isInFront {
    position: relative;
    z-index: 2;
}

div.orange {
    background-color: #f47a00;
    width: 100%;
    height: 9.84375vw;
}

div.red {
    background-color: #fc3a1b;
    width: 14.04494382022472%;
    height: 12.20703125vw;
}

div.blue {
    background-color: #04b6f0;
    margin-top: 1.26953125% !important;
    width: 69.55056179775281%;
    height: 11.42578125vw;
}

div.black {
    background-color: #000;
    width: 14.04494382022472%;
    height: 12.20703125vw;
}

div.green {
    background-color: #10ad00;
    width: 92.13483146067416%;
    margin-left: 3.93258426966292% !important;
    height: 12.20703125vw;
}

div.gold {
    background-color: #eddf02;
    width: 100%;
    height: 9.84375vw;
}

div.grey {
    background-color: #828282;
    width: 19.66292134831461%;
    height: 12.20703125vw;
}

div.maroon {
    background-color: #e1039a;
    width: 54.26966292134831%;
    height: 12.20703125vw;
}

div.purple {
    background-color: #630bbd;
    width: 14.04494382022472%;
    height: 38.57421875vw;
    margin-top: -36.62109375vw !important;
}

@media screen and (min-width: 512px) {
    .overlay-content {
        left: 150%;
        margin-left: -256px;
    }

    section.overlay-content.center {
        left: 50%;
        transition: left 2s ease-in;
    }
}
